@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?s00emp');
  src:  url('fonts/icomoon.eot?s00emp#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?s00emp') format('truetype'),
    url('fonts/icomoon.woff?s00emp') format('woff'),
    url('fonts/icomoon.svg?s00emp#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
/*ICONOS*/
[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-home:before {
  content: "\e900";
}
.icon-pencil2:before {
  content: "\e906";
}
.icon-price-tag:before {
  content: "\e935";
}
.icon-box-add:before {
  content: "\e95e";
}
.icon-lab:before {
  content: "\e9aa";
}
.icon-earth:before {
  content: "\e9ca";
}
.icon-bookmark:before {
  content: "\e9d2";
}
