body
{
   font-family : Verdana,Arial,Sans-Serif;font-size: 15px;color:#735846;text-align:justify;
   background-color: #3d2e2a;
}
h2{font-family:150%;color:#38451;}
h1{margin: 0 0 0 40px;font-size:180%;color:#d38451;float:left;}
	p{line-height:1.5em;}
	div.contenido{margin: 0 20px 20px;padding:20px ; background-color:#f5e4cc;clear:both;}
	div.pie{text-align:center;font-size: 85%;}
	div.cita{font-size:80%;font-style:oblique;text-align:right;}
	div.cita : first-child {font-size:120%;text-align:center}
	#menu {margin: 0 40px 0 0;padding:0;font-size:105%;list-style-type:none;float:right;}
	#menu li {border-style:solid; border-color:#f0d7b5;border-width:2px 1px 0;margin: 0 2px;float;
	left;height:40px; width:90px; text-align:center; background-color: #aa876f;}
	#menu a {text-decoration:none;color:#f5e4cc;}
	#menu li:hover {border-color:#ff7600;}
	#menu li:hover a {color:#ff7600;}
	#menu li.activa {border-color:#f5e4cc;background-color: #f5e4cc;}
	#menu li.activa a {color:#5f4232;}
	div.ficha{border:#d38451 1px solid;float:left;width:250px;height:120px; margin:15px;}
	div.ficha img:hover{border-color:#ff7600;}
	div.ficha p {color:#3d2e2a;font-size:95%;line-height:1.3em;margin:3px;}
	div.fich p.cien{font-style:oblique;color:#735846;margin-top:1em;}
div.ficha_doble	{width:530px;}
table#flores{font-size:90%;border:1px solid #ff7600;background-color:#f0d7b5;}
table#flores .alterna{background-color:#f5e4cc;}